<?xml version="1.0"?>
<launch>
  <!-- <arg name="joy_dev" default="$(optenv JACKAL_JOY_DEVICE /dev/input/ps4)" /> -->
  <arg name="joy_dev" default="$(optenv JACKAL_JOY_DEVICE /dev/input/js0)" />
  <arg name="joystick" default="true" />
  <arg name="ns" default="J0" />

  <group ns="$(arg ns)" if="$(arg joystick)">

    <group unless="$(optenv JACKAL_PS3 0)" >
      <rosparam command="load" file="$(find multi_jackal_control)/config/teleop_ps4.yaml" />
      <param name="joy_node/dev" value="$(arg joy_dev)" />
    </group>


    <node pkg="joy" type="joy_node" name="joy_node" />

    <node pkg="teleop_twist_joy" type="teleop_node" name="teleop_twist_joy" >
      <remap from="cmd_vel" to="jackal_velocity_controller/cmd_vel"/>
    </node>

  </group>


  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server"/>
</launch>
